body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }
  
  .header {
    grid-column: 1 / -1;
    background-color: #1a1a1a;
    color: white;
    padding: 2px;
    font-size: 10px;
    font-weight: bold;
  }

  .table-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 90%;
  }
  
  .sidebar {
    background-color: white;
    border-right: 1px solid #ddd;
    padding: 20px;
  }
  
  .sidebar a {
    display: block;
    color: #333;
    text-decoration: none;
    padding: 10px 0;
    font-weight: bold;
  }
  
  .sidebar a.active {
    font-weight: bold;
  }
  
  .sidebar a:hover {
    color: #666;
  }
  
  .content {
    padding: 20px;
    background-color: rgb(248, 248, 248);
  }
  
  
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px; 
  }
  
  .header-row h2 {
    margin: 0; 
  }
  
  
  .add-button {
    float: right;
    background-color: #1f11ea;
    color: white;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
  }

  .add-button:hover {
    background-color: #091995;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
  }
  
  .table th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f5f5f5;
  }
  
  .table tr:hover {
    background-color: #f9f9f9;
  }